@import "tailwindcss";

@theme {
  --color-primary: #4a6b63;
  --color-secondary: #000103;
  --color-accent: #ffffff;

  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
}

@layer base {
  body {
    @apply bg-[#f8faf9] text-secondary font-sans min-h-screen;
  }
}